click
email-validator
Flask
flask-bootstrap
flask-httpauth
Flask-Login
flask-migrate
flask-moment
flask-security
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
PyMySQL
python-dotenv
SQLAlchemy
Werkzeug
WTForms
